Source: gimp-plugin-registry
Section: graphics
Priority: optional
Maintainer: Bernd Zeimetz <bernd@bzed.de>
Build-Depends: debhelper (>= 5), libgimp2.0-dev, cimg-dev (>= 1.2.0.1), libcv-dev (>= 1.0.0)
Standards-Version: 3.7.2

Package: gimp-plugin-registry
Architecture: any
Depends: gimp (>= 2.2.0), ${shlibs:Depends}, ${misc:Depends}
Description: A repository of optional extensions for The GIMP
 The package contains the following plugins:
 .
   * Black and White Film Simulation:
     Converts the selected layer into Black and White using
     the channel mixer. Tries to produce results resembling
     tonal qualities of film.
   * DBP:
     David's Batch Processor is a simple batch processing plugin
     for The Gimp - it allows the user to automatically perform
     operations (such as resize) on a collection of image files.
     Not yet included if the package was built for gimp 2.3.18
     or later.
   * Dustcleaner:
     Plugin to detect and remove dust spots in digital images
   * Extended Borders:
     This script allows you to add double borders, add copyright
     notice and title, as well as decide fonts, font-sizes and
     positions of the title and copyright notice. Support for
     blurring the copyright and title is also included.
   * Fix-CA:
     Corrects chromatic aberration in photos
   * Focus-Blur:
     This plugin tries to simulate an out-of-focus blur
   * GREYCstoration:
     A tool to denoise, inpaint and resize images
   * layer-effects:
     This script implements the following effects:
     add border, bevel and emboss, color overlay, drop shadow,
     gradient overlay, inner glow, inner shadow, outer glow,
     pattern overlay, satin.
   * Planet Render:
     Creates a planet. Color, size and sun orientation
     can be set.
   * Streak-Camera simulation:
     A streak camera images an object through a slit -
     thus getting a "one dimensional image". This image is
     propagated along the second dimension of the image plane
     at a constant speed. The result is a picture of the time
     dependency of the object.
