Source: gimp-plugin-registry
Section: graphics
Priority: optional
Maintainer: Bernd Zeimetz <bernd@bzed.de>
Build-Depends: debhelper (>= 5), libgimp2.0-dev, cimg-dev
Standards-Version: 3.7.2

Package: gimp-plugin-registry
Architecture: any
Depends: gimp (>= 2.2.0), ${shlibs:Depends}, ${misc:Depends}
Description: A repository of optional extensions for The GIMP
 The package contains the following plugins:
 .
   * Black and White Film Simulation:
     Converts the selected layer into Black and White using
     the channel mixer. Tries to produce results resembling
     tonal qualities of film.
   * Fix-CA:
     Corrects chromatic aberration in photos
   * Focus-Blur:
     This plugin tries to simulate an out-of-focus blur
   * GREYCstoration:
     A tool to denoise, inpaint and resize images
   * Planet Render:
     Creates a planet. Color, size and sun orientation
     can be set.
