Source: gimp-plugin-registry
Section: graphics
Priority: optional
Maintainer: Bernd Zeimetz <bernd@bzed.de>
Build-Depends: debhelper (>= 5), libgimp2.0-dev, libcv-dev (>= 1.0.0),
 autotools-dev, dpatch, libxml-parser-perl
Standards-Version: 3.7.2

Package: gimp-plugin-registry
Architecture: any
Depends: gimp (>= 2.2.0), ${shlibs:Depends}, ${misc:Depends}
Description: A repository of optional extensions for The GIMP
 The package contains the following plugins:
 .
   * Black and White Film Simulation (1.1):
     Converts the selected layer into Black and White using
     the channel mixer. Tries to produce results resembling
     tonal qualities of film.
   * David's Batch Processor (1.1.7):
     A simple batch processing plugin for The Gimp - it allows
     the user to automatically perform operations (such as resize)
     on a collection of image files.
   * Dustcleaner (0.1.5a):
     Plugin to detect and remove dust spots in digital images
   * Fix-CA (3.0.1):
     Corrects chromatic aberration in photos
   * Focus-Blur (2.3):
     This plugin tries to simulate an out-of-focus blur
   * GREYCstoration (2.5.2.1):
     A tool to denoise, inpaint and resize images
   * layer-effects (2.3):
     This script implements the following effects:
     add border, bevel and emboss, color overlay, drop shadow,
     gradient overlay, inner glow, inner shadow, outer glow,
     pattern overlay, satin.
   * Liquid Rescale (0.2.1):
     Content-aware rescaling. Keeps the features of the image while
     rescaling along a single direction.
   * Planet Render (1-2):
     Creates a planet. Color, size and sun orientation
     can be set.
   * Streak-Camera simulation (0.6):
     A streak camera images an object through a slit -
     thus getting a "one dimensional image". This image is
     propagated along the second dimension of the image plane
     at a constant speed. The result is a picture of the time
     dependency of the object.
