Description: Traditional Orton:
 This is an effect invented by Michael Orton in the 1990s, which
 consists of taking two copies of an image, one blurred, and one sharp,
 and mixing them to produce an image with a dreamy quality. It is
 especially well suited to landscape and flower photography.
Homepage: http://registry.gimp.org/node/24441
Uploaders: Bernd Zeimetz <bzed@debian.org>
