Description: Normalmap
 Allows you to convert images into RGB normal maps for use in
 per-pixel lighting applications.
Homepage: http://code.google.com/p/gimp-normalmap/
Version: 1.2.2
Uploaders: Bernd Zeimetz <bzed@debian.org>
